<p>
This page demonstrates using internationalization (i18n) resources in a template.
</p>

<p>
Text that is fixed in the template: Hello World
</p>

<p>
Text from a properties file: ${i18n.getText("com.pduleba.jira.view.message")}
</p>