<p>This is an error page from the webwork sample.</p>

<p>
We can show a value from the action like this: ${myfirstparameter}
</p>

<p>
Or display the details of the error(s):
</p>

## Error messages are per action, errors are per field
<table>
  #foreach ($error in $action.getErrorMessages())
  <tr>
    <td>${error}</td>
  </tr>
  #end    
</table>
<table>
  #foreach ($error in $action.errors)
  <tr>
    <td>${error}</td>
  </tr>
  #end    
</table>

<p>
In many pages, the errors are displayed as part of the controlheader macro.
See macros.vm for more examples of displaying errors
</p>
