#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<input type="text" name="$customField.id" value="$currentUser"
id="$customField.id" class="textfield" readonly="readonly" />
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
